.navbar {
    background-color: #161616 !important;
}
#headermain{
    height: 60vh;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 7px solid #161616;
    background-color: yellow;
}